<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <appSettings>
    <!--程序标题-->
    <add key="application_name" value="装甲防护仿真计算软件"/>
    <!--程序图标-->
    <add key="application_icon" value="ico.ico"/>
    <!--语言-->
    <add key="current_culture" value="cn-zh"/>
    <!--公司名称-->
    <add key="company_name" value="安世亚太"/>
    <!--版权说明-->
    <add key="copy_right" value="版权 © 2016-2017"/>
    <!--产品版本号-->
    <add key="product_version" value="V0.1"/>
    <!--产品名称-->
    <add key="product_name" value="仿真集成框架"/>
    <!--布局名称-->
    <add key="layout_name" value="ribbon"/>
    <!--是否启用布局自动保存-->
    <add key="layout_enable_save" value="true"/>
    <!--皮肤-->
    <add key="layout_skin_style" value="DevExpress Style"/>
  </appSettings>
    <unity>
    <containers>
      <container name="serviceContainer">
        <register type="PS.Infrastructure.IInvokeMethod, PS.Infrastructure" mapTo="PS.Infrastructure.InvokeMethod.InvokeMethodService, PS.Infrastructure" name="InvokeMethodService">
          <lifetime type="singleton"/>
        </register>
        <register type="PS.Infrastructure.PropertyAccess.IPropertyAccess, PS.Infrastructure" mapTo="PS.Infrastructure.PropertyAccess.PropertyAccessService, PS.Infrastructure" name="PropertyAccessService">
          <lifetime type="singleton"/>
        </register>
        <register type="PS.Infrastructure.DataExchange.IDataExchange, PS.Infrastructure" mapTo="PS.Infrastructure.DataExchange.DataExchangeService, PS.Infrastructure" name="DataExchangeService">
          <lifetime type="singleton"/>
        </register>
        <register type="PS.Infrastructure.ControlAddress.IControlAddress, PS.Infrastructure" mapTo="PS.Infrastructure.ControlAddress.ControlAddressService, PS.Infrastructure" name="ControlAddressService">
          <lifetime type="singleton"/>
        </register>
      </container>
    </containers>
  </unity>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
